.app-header {

  @include for-mobile-layout {
    flex-direction: column;
    gap: 1rem;
  }

  font-family: system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $toy-blue;
  color: $toy-red;
  padding: .5em 1em;
  margin-block-end: 1.5rem;

  .links {
    display: flex;
    gap: 1em;
    font-weight: 700;
    font-size: 1.2rem;

    a.active {
      color: $toy-cyan;
      text-decoration: none;
    }
  }

  h1 span {
    color: $toy-cyan;
  }

}