.pagination-nav {
    text-align: center;
    display: flex;
    justify-content: center;

    .page-bar {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        width: fit-content;
        border-radius: 6px;
        border: 0.5px solid $toy-black;

        .page-idx {
            background-color: lightgray;
            color: grey;
            padding: 0 0.5em;
            cursor: pointer;
            border-inline-start: 1px solid #383838;
            transition: background-color 0.3s;

            &:first-child {
                border-radius: 5px 0 0 5px;
                border: 0;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }

            &:hover,
            &.selected {
                background-color: $toy-white;
                color: $toy-blue;
                font-weight: 700;
            }
        }
    }
}