main .toy-list {
    display: grid;
    max-width: rem(596px);
    grid-template-columns: minmax(290px, 1fr) minmax(290px, 1fr);
    gap: 1em;
    margin-block-end: 2rem;

    @include for-mobile-layout {
        grid-template-columns: 1fr;
    }

}