.todo-app .add-todo {
    text-align: center;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}

.todo-app .add-todo input {
    background-color: var(--clr2bg);
    color: whitesmoke;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    border: 0;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: 2px solid;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
}

.todo-app .add-todo input::placeholder {
    color: whitesmoke;
    opacity: 1;
}

.todo-app .add-todo input:focus::placeholder {
    color: var(--clr2bg);
}

.add-todo .add-todo-btn {
    background-color: lightgrey;
    border: 2px solid var(--clr2bg);
}

.add-todo .add-todo-btn:hover {
    background-color: var(--clr2bg);
}