.user-msg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    padding: .2em .5em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    border-radius: 2px;
}

.user-msg.success {
    background-color: rgba(3, 114, 18, 0.861);
}

.user-msg.error {
    background-color: var(--clr2);
}

.user-msg button {
    font-size: .5em;
    float: right;
    margin: .5em;
}