main .toy-details {
    margin-bottom: 3rem;

    .name {
        color: $toy-red;
    }

    .price {
        color: $toy-cyan;
    }

    .stock {
        color: $toy-blue;
    }

    .out-of-stock {
        color: $toy-red;
    }

    .editable {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        svg {
            color: grey;
        }
    }

    &>* {
        margin-block-end: 1em;
    }

    .toy-id {
        margin-bottom: 3rem;
    }

    .back {
        padding: 0.5em;
        border: 1px solid $toy-red;
        border-radius: 0.5em;
        color: $toy-red;
        transition: background-color 0.3s, color 0.4s;

        &:hover {
            color: whitesmoke;
            background-color: $toy-red;
        }
    }

}