//COLOR PALETTE
$toy-red: #e50a48;
$toy-white: #F1F1F1;
$toy-blue: #0d4887;
$toy-cyan: #7FCDF1;
$toy-black: #131110;
$toy-light-grey: #d7d7d7d4;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

//Layout:
$layoutPadding: 1.6rem;