@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');