* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--toy-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  margin: 0;
  font-family: 'Noto Sans Hebrew', sans-serif;
}

.logo {
  font-family: 'Titan One', cursive;
  text-shadow: 1px 2px black;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}