/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns: minmax(1.6rem, auto) $max minmax(1.6rem, auto);
}

@mixin btn($type: regular, $bg-color: $toy-blue, $color: $toy-cyan) {
    background-color: $bg-color;
    color: $color;

    @if $type ==add {
        border-radius: 5em;
        font-size: 1rem;
        transition: background-color 0.4s;

        svg {
            width: 100%;
            height: auto;
        }

        &:hover {
            color: $toy-blue;
            background-color: $toy-red;
        }
    }

    @if $type ==transparent {
        background-color: transparent;
        color: $color;
        border: 1px solid $color;

        &:hover {
            background-color: $color;
            color: $bg-color;
        }
    }
}